<p id="notice"><%= notice %></p>
<h2>Hello <%= @user.username %></h2>

<br>

<h3>There are your events:</h3>
<p><%= @user.created_events.first.description %></p>
<hr>

<%= link_to 'Back', users_path %>