<h3>Add a new Event</h3>

<%= form_with model: @event do |f| %>

<div class="mb-10">
  <%= f.text_field :description %>
</div>
<div class="mb-10">
  <%= f.datetime_field :event_date, required: true %>
</div>
<%= f.submit input_html: {value: "Create"} %>

<% end %>
