<div class="container-md">
  <div class="form-card">
    <h3 class="mb-3 pb-2 border-bottom-dotted text-danger">Add a new Event</h3>
    <%= form_with model: @event do |f| %>
      <div>
        <%= f.text_field :description %>
      </div>
      <div class="my-4">
        <%= f.datetime_field :event_date, required: true, class: "p-1" %>
      </div>
      <div class="d-flex justify-content-end">
        <%= f.submit 'Create Event', class: "btn btn-success px-5" %>
      </div>
    <% end %>
  </div>
</div>
