/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   margin: 0;
   width: 100vw;
   box-sizing: border-box;
 }

 *, *::before, *::after {
   box-sizing: border-box;
 }

 .mb-10 {
   margin-bottom: 10px;
 }

 .tab-header {
  display: flex;

  a {
    padding: 7px 15px;
    background-color: rgb(216, 218, 221);
    color: $primary;

    &.active {
      background-color: $primary;
      color: $light;
      font-weight: bold;
    }
  }
}

.tab-item {
  display: none;

  &.active {
    display: block;
  }
}
