/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.mb-10 {
  margin-bottom: 10px;
}

.tab-header {
  display: flex;

  a {
    padding: 7px 15px;
    border-bottom: 2px solid #e4ecf1;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    text-align: center;
    min-width: 165px;

    &.active {
      font-weight: bold;
      border-color: teal;
    }
  }
}

.tab-item {
  display: none;

  &.active {
    display: block;
  }
}

.form-card {
  padding: 30px;
  margin: 100px auto 0;
  max-width: 450px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;

  input[type="text"] {
    width: 100%;
    padding: 10px;
    background-color: #e4e4e4;
    border: none;
  }
}

.event-padding {
  padding: 5px;
}

.event-wrap {
  padding: 10px;
  border: 1px solid #e4e4e4;
}

.event-title {
  margin: 0 0 10px 0;
}

.event-description {
  background-color: #f8f9fb;
}

.event-label {
  font-weight: bold;
}

.event-show-wrap {
  margin-top: 5px;
}

.p-3px {
  padding: 3px;
}

.border-bottom-dotted {
  border-bottom: 1px dotted #e4e4e4;
}
