// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.events-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.event-padding {
  padding: 5px;
}

.event-wrap {
  padding: 10px;
  border: 1px solid #e4e4e4;
}

.event-title {
  margin: 0 0 10px 0;
}

.event-label {
  font-weight: bold;
}

.event-show-wrap {
  margin-top: 5px;
}
